You are booked for <%=@resort_activity.activity.name%> at <%=@resort_activity.resort.name%>!<br>
<br><p><i class="clock icon"></i><%=@resort_activity.activity.length%> hour(s)</p>
<p><i class="dollar sign icon"></i><%= @resort_activity.activity.price%>/per person</p>
<%= button_to "Cancel booking" , @resort_activity, method: :delete %>