<h2> Book Completed </h2>
<%=@resort_activity.user.name%><br>
<%=@resort_activity.resort.name%><br>
<%=@resort_activity.activity.name%><br>
<%=@resort_activity.activity.length%><br>
<%=@resort_activity.activity.price%><br>
