<h1 class="ui blue header">Activities</h1>
<div class="ui items">

  <% @activities.each do |activity| %>
    <div class="item">
      <div class="image">
          <%=image_tag "#{activity.id}.jpg" %>
      </div>
      <div class="content">
        <a class="header"><%= link_to activity.name, activity_path(activity) %></a>
        <div class="description">
          <p><i class="dollar sign icon"></i><%=activity.price%>/per person</p>
          <p><i class="clock icon"></i><%=activity.length%> hour(s)</p>
          <div <i class="ui blue label"></i> <i class= "star icon"></i>
            <%=activity.rating %></div>
        </div>

      </div>  
    </div>
  <% end %>
</div>