<br><label>Activity Name: <%= @activity.name %></label><br>
<br><label>Duration: <%= @activity.length %> hour(s)</label><br>
<br><label>Price: $<%= @activity.price %>/per person</label><br>
<br><label>Rating: <%= @activity.rating %>/5.0 stars</label><br>
<br><%= link_to :Book, new_resort_activity_path(:activity_id => @activity.id) %>


<%# TO DO: %>
