<!DOCTYPE html>
<html>
  <head>
    <title>HotelBookingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui blue secondary  menu">
      <div class="ui grey container">
        <%= link_to :Resorts, resorts_path, class: "item" %>
        <%= link_to :Activities, activities_path, class: "item" %>
        <%= link_to :Reservations, reservations_path, class: "item" %>
    
        <div class="right menu">
        <% if logged_in? %>
        <div class="ui item"><%= link_to current_user_name, edit_user_path(current_user_id)%></div>
        <%= link_to :Logout, logout_path, class: "ui item" %>
        <% else %>
        <%= link_to :Login, login_path, class: "ui item" %>
        <%= link_to "Sign up", register_path, class: "ui item" %>


        <% end %>
        </div>
      </div>
    </div>
    <div class="ui main text container">
      <%= yield %>
    </div>
  </body>
</html>
